@media only screen and (max-width: 1110px) {
    .container{
        margin: 0 auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .grid-item{
        width: 327px;
        height: 444px;
    }

    .usertext{
        width: 247px;
    }

    .mark{
        display: none;
    }
  }

