*{
    font-family: 'Barlow Semi Condensed', sans-serif;;
}

body{
    background-color: #ECF2F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container{
    gap: 30px;
    display: grid;
    background-color: #ECF2F8;
    width: 1110px;
    height: 572px;
}

.grid-item{
    border-radius: 8px;
    background-color: aliceblue;
    font-size: 15px;
}

.item1 {
    height: 282px;
    width: 540px;
    background-color: #7144C6;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.mark{
    position: absolute;
    margin-left: 360px;
}
  
.item2 {
    width: 255px;
    background-color: #FFFFFF;
    grid-column: 4;
    grid-row: 1 / span 2;
}
  
.item5 {
    height: 266px;
    width: 540px;
    background-color: #1A202E;
    grid-column: 2 / span 2;
    grid-row: 2;
}

.item3{
    width: 255px;
    background-color: #485569;
}

.item4 {
    width: 255px;
    background-color: #FFFFFF;
}

.userhead{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-left: 32px;;
    width: 124px;
    height: 28px;
}

.username{
    display: flex;
    flex-direction: column;;
    width: 79px;
}

.username h5{
    font-weight: 500;
    margin: 0;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #ECF2F8;
}

.username h6{
    opacity: 50%;
    padding-top: 5px;
    font-weight: 500;
    margin: 0;
    width: 76px;
    line-height: 11px;
    color: #ECF2F8;
    font-size: 11px;
}

.usertext{
    margin-left: 32px;
    width: 476px;
}

.bigtext{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.smalltext{
    opacity: 70%;
    font-size: 13px;
    line-height: 18px;
}

.white {
    color: #FFFFFF;
}

.black h5{
    color: #48556A;
}

.black h6{
    color: #48556A;
}

.dark {
    width: 191px;
}

.large{
    width: 91px;
}

.item4 h5{
    width: 135px;
}

.item1 p{
    position: relative;
}
